.card {
    border-radius: 20px;
    padding-top: 50px;
    box-shadow: 0px 5px 15px rgb(238, 177, 10);
}

#imgcard {
    border-radius: 20px;
}

.container {
    padding-top: 20px;
}

#imgchan {
    border-top-left-radius: 28px 20px;
    border-top-right-radius: 28px 20px;
}

#btnweb {
    border-bottom-left-radius: 28px 20px;
    border-bottom-right-radius: 28px 20px;
}

.card-text {
    padding-top: 30px;
    padding: 20px;
}