<div class="container">
  <div *ngIf='tvdetails' class="col-md-12">
    <div class="card">
      <div class="card-title mx-auto d-block">
        <h1><strong>Name: </strong> {{tvdetails.name}}</h1>
        <br>
        <img class="mx-auto d-block" src="https://image.tmdb.org/t/p/w300{{tvdetails.backdrop_path}}" id="imgcard">
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="card-body mx-auto d-block">
            <p><strong>Season Number: </strong>{{tvdetails.last_episode_to_air.season_number}}</p>
            <p><strong>Episode Number: </strong>{{tvdetails.last_episode_to_air.episode_number}}</p>
            <p><strong>Last Air Date: </strong>{{tvdetails.last_air_date}}</p>
            <p><strong>First Air Date: </strong> {{tvdetails.first_air_date}}</p>
          </div>
        </div>
        <div class="col-md-6">
          <a href="{{tvdetails.homepage}}"><button type="button" class="btn btn-lg btn-warning py-4 mx-auto d-block" id="btnweb">Go To The Website</button></a>
        </div>
      </div>
      <div class="card-text">
        <p><strong>Overview: </strong> {{tvdetails.overview}}</p>
      </div>
    </div>
  </div>
</div>