<nav class='navbar navbar-expand navbar-light justify-content-center'>
  <ul class='nav nav-pills row'>
    <div class="col-md-auto align-self-center">
      <li><button routerLink="/airtoday" class='btn btn-outline-warning btn-outline-secondary btn-lg my-2 my-sm-0 px-5'><i class="material-icons"
            id="homeicon">
            live_tv
          </i>Air Today</button></li>
    </div>
    <div class="col-md-auto align-self-center">
      <li><button routerLink="/latestmovie" class='btn btn-outline-warning btn-outline-secondary btn-lg my-2 my-sm-0 px-4'><i class="material-icons"
            id="homeicon">
            movie
          </i>Latest Movie</button></li>
    </div>
    <div class="col-md-auto align-self-center">
      <li><button routerLink="popularmovie"  class='btn btn-outline-warning btn-outline-secondary btn-lg my-2 my-sm-0 px-4'><i class="material-icons"
            id="homeicon">
            movie_filter
          </i>Popular Movies</button></li>
    </div>
    <div class="col-lg-auto">
    <button routerLink="" class='btn btn-outline-warning btn-outline-secondary btn-lg my-0 my-sm-2 px-2' id="home"><i class="material-icons"
      id="homeiconz">
      home
    </i></button>
  </div>
    <div class="col-md-auto align-self-center">
      <li><button routerLink="/latesttvserie" class='btn btn-outline-warning btn-outline-secondary btn-lg my-2 my-sm-0 px-3'><i class="material-icons"
            id="homeicon">
            local_movies
          </i>Latest Tv Series</button></li>
    </div>
    <div class="col-md-auto align-self-center">
      <li><button routerLink="/populartvseries" class='btn btn-outline-warning btn-outline-secondary btn-lg my-2 my-sm-0 px-3'><i class="material-icons"
            id="homeicon">
            tv
          </i>Popular Tv Series</button></li>
    </div>
    <div class="col-md-auto align-self-center">
    <a routerLink="/genres" class="btn btn-outline-warning btn-outline-secondary btn-lg my-2 my-sm-0 px-5" role="button"
      aria-pressed="true"><i class="material-icons" id="homeicon">
        blur_on
      </i>Genres</a>
    </div>
  </ul>
</nav>
