<div class="container">
  <div class="card-header">
    <h1 class="my-0" id="title">Tv Shows On Air: </h1>
  </div>
  <div class="row">
    <div class="col-md-6 align-items-stretch" *ngFor="let item of tvOnAir">
      <div class="card">
        <div class="card-title mx-auto d-block">
          <h1><strong>{{item.name}}</strong> </h1>
        </div>
        <img class="mx-auto d-block" src="https://image.tmdb.org/t/p/w500{{item.backdrop_path}}" id="tvonairimg">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Popularity: </strong> {{item.popularity}}</p>
              <p><strong>First Air Date: </strong> {{item.first_air_date}}</p>
            </div>
            <div class="col-md-6">
              <p><strong>Vote Count: </strong> {{item.vote_count}}</p>
              <p><strong>Origin Country: </strong> {{item.origin_country}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <img class="mx-auto d-block" src="https://image.tmdb.org/t/p/w200{{item.poster_path}}" id="tvonairimg2">
              <hr>
              <p><strong>Original Language: </strong>{{item.original_language}}</p>
              <p><strong>Overview: </strong>{{item.overview}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>