#magiccarousel {
    padding: 100px;
}

.carousel-inner {
    box-shadow: 0px 5px 15px rgb(238, 177, 10);
    border-radius: 50px;
}

.carousel-indicators {
    padding: 30px;
}

.pointer {
    cursor: pointer;
}

.col-md-2 {
    padding: 30px;
}

#card1home {

    padding-top: 100px;
}

#card2home {

    padding-top: 100px;
}


.card-img-overlay {
    padding-top: 100px;
    color: rgb(255, 255, 255);

}

.img-fluid {
    background-color: black;
}

.card {
    box-shadow: 0px 5px 15px rgb(238, 177, 10);
}

.card-text {
    padding-bottom: 40px;
}

#card1 {
    border-radius: 20px;
}

#card2 {
    border-radius: 20px;
}

#btn1 {
    border-bottom-left-radius: 50px 20px;
    border-bottom-right-radius: 50px 20px;
}

#btn2 {
    border-bottom-left-radius: 50px 20px;
    border-bottom-right-radius: 50px 20px;
}