.card-title {
    justify-content: center;
    display: block;
    margin-top: 15px;
}

.card {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.966);
    align-items: center;
}

.container {
padding-top: 20px;
}

.col-md-12 {
    align-items: center;
    justify-content: center;
    display: block;
    padding: 20px;
}

#imgcard {
    border-radius: 40px;
}

#imgchan {
    right: 40px;
    padding-bottom: 50px;
}

